<div class="card border-secondary h-100">
    <div class="card-header text-end">
        <span [class]="styleStoreColor()">{{ storeOwner ? storeOwner + '\'s Store' : '' }}</span>
    </div>
    <div class="card-body h-100">
        <p class="card-text fw-bold">{{ title }}</p>
    </div>
    <div class="card-footer">
        <div class="row mb-3">
            <p class="card-text text-start text-truncate" [title]="author">
                <i class="bi bi-pen-fill"></i>
                {{ " " + author }}
            </p>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-6">
                <button type="button" class="btn btn-dark py-1">Buy</button>
            </div>
            <div class="col-6">
                <p class="card-text text-end">{{ price | number }} $</p>
            </div>
        </div>
    </div>
</div>